{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>nombre des clients d’une ville</h1>

  {{form_start(form)}}

    <div class="col">
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Search</button>
        </div>
    </div> 
    {{form_end(form)}}

 {% if clients %}
        <table id="client" class="table table-stripped">
            <thead>
                <tr>
                    <th>Nombre des Clients</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{clients}}</td>
                    </tr>
            </tbody>
        </table>
        <a href="{{path('app_client_index')}}" class="btn btn-secondary">Back to list</a>
    {% else %}
        <p>N'as pas de Client</p>
    {% endif %}

{% endblock %}

